@model LeaveMainPageVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

 }

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">izinleriniz</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>İzin Türü</th>
                            <th>Başlangıç Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th>Gün Sayısı</th>
                            <th>Onay Durumu</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Leaves)
                        {
                            <tr>
                                <th>@item.LeaveType.TypeName</th>
                                <th>@item.StartLeaveDate</th>
                                <th>@item.EndLeaveDate</th>
                                <th>@item.TotalDaysOff</th>
                                <th>@item.ConfirmStatus</th>
                            </tr>                        
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>