@model EmployeeMainPageVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>
    Welcome @Context.Session.GetString("username")
</h2>
<div class="container-fluid">
    <div class="row mt-4 ">
        <div class="col-xl-4 col-xs-12">
            <div class="card">
                <h2 class="card-header">Yaklaşan İzinler</h2>
                <div class="card-body">
                    @if (Model.Leaves.Count > 0)
                    {
                        foreach (var item in Model.Leaves)
                        {
                            <ul>
                                <li>@(item.LeaveTypeName+" "+item.LeaveStartDate.ToString("dd MMMM")+" "+item.LeaveDuration+" gün")</li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul>
                            <li>Hiç bir izin alınmamıştır.</li>
                        </ul>
                    }

                </div>
            </div>

        </div>
        <div class="col-xl-4 col-xs-12">
            <div class="card">
                <h2 class="card-header">Doğum Günleri</h2>
                <div class="card-body">
                    @foreach (var item in Model.BirthDays)
                    {
                        <ul class="list-group">
                            <li class="list-group-item">@item.Birthday.ToString("dd MMMM") -- @(item.Firstname +" "+ item.Lastname)</li>
                        </ul>
                    }
                </div>
            </div>

        </div>
        <div class="col-xl-4 col-xs-12">
            <div class="card">
                <h2 class="card-header">Resmi Tatiller</h2>
                <div class="card-body">
                    @foreach (var item in Model.PublicHoliday)
                    {
                        <ul>
                            <li>@item.gun <br /> @item.uzuntarih </li>
                        </ul>
                    }

                </div>
            </div>

        </div>
    </div>
</div>

