@model IEnumerable<InsanKaynaklari.Entities.Concrete.Expense>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a href="~/Expenses/Create/@Context.Session.GetString("userId")">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explanation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseType.ExpenseTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personel.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
