@model IndexViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


<div class="container-fluid p-2">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-end">
            <h5 class="m-0 p-2 font-weight-bold text-primary">Harcamalarınız</h5>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1"
                    data-url="@Url.Action("Create")">
                Harcama Ekle
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Açıklama</th>
                            <th>Harcama Türü</th>
                            <th>Tutar</th>
                            <th>Fiş Tarihi</th>
                            <th>Onay Durumu</th>
                            <th>İşlemler</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Expenses)
                        {
                            <tr>
                                <th>@item.Explanation</th>
                                <th>@item.ExpenseType.ExpenseTypeName</th>
                                <th>@item.Amount</th>
                                <th>@item.DateOfExpense.ToString("dd MMMM")</th>
                                <th>@item.ConfirmStatus</th>
                                @if (item.ConfirmStatus == ConfirmStatus.OnHold)
                                {
                                    <th class="d-flex justify-content-between"><a asp-action="Edit" asp-route-id="@item.ID">Düzenle</a><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal@(item.ID)">Sil</button></th>
                                    <th></th>
                                    <div class="modal fade" id="exampleModal@(item.ID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Silme İşlemi</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                </div>
                                                <div class="modal-body">
                                                    Silmek istediğinize emin misiniz? id= @item.ID
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <th>Onaylandı.</th>
                                   
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Harcama Ekleme</h2>
            </div>
            <div class="modal-body">
                <form asp-controller="Expenses" asp-action="Create" enctype="multipart/form-data" asp-route-yonlen="@ViewBag.yonlen">

                    <div class="form-group">
                        <label asp-for="CheckDocument" class="control-label">Fatura Belge</label>
                        <div class="custom-file">
                            <input asp-for="CheckDocument" class="custom-file-input" id="customFile" />
                            <label class="custom-file-label" for="customFile">Choose File</label>
                        </div>
                        <span asp-validation-for="CheckDocument" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExpenseTypeID" class="control-label">Harcama Türü</label>
                        <select asp-for="ExpenseTypeID" class="form-control" asp-items="ViewBag.ExpenseTypeID"></select>
                        <span asp-validation-for="ExpenseTypeID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input type="number" asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Explanation" class="control-label"></label>
                        <textarea maxlength="250" asp-for="Explanation" class="form-control" style="width:100%; height:150px;"></textarea>
                        <span asp-validation-for="Explanation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfExpense" class="control-label"></label>
                        <input type="date" asp-for="DateOfExpense" class="form-control" value="" />
                        <span asp-validation-for="DateOfExpense" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(document).ready( function () {
    $('#myTable').DataTable({
         "language": {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
    }
    });
    });
</script>
<script type="text/javascript">
    $("custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
}
