@model IndexViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1"
                    data-url="@Url.Action("Create")">
                Harcama Ekle
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Açıklama</th>
                            <th>Harcama Türü</th>
                            <th>Tutar</th>
                            <th>Fiş Tarihi</th>
                            <th>Onay Durumu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Expenses)
                        {
                            <tr>
                                <th>@item.Explanation</th>
                                <th>@item.ExpenseType.ExpenseTypeName</th>
                                <th>@item.Amount</th>
                                <th>@item.DateOfExpense</th>
                                <th>@item.ConfirmStatus</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Harcama Ekleme</h2>
            </div>
            <div class="modal-body">
                <form asp-controller="Expenses" asp-action="Create" enctype="multipart/form-data" asp-route-yonlen="@ViewBag.yonlen">

                    <div class="form-group">
                        <label asp-for="@Model.Expense.CheckDocument" class="control-label">Fatura Belge</label>
                        <div class="custom-file">
                            <input asp-for="@Model.Expense.CheckDocument" class="custom-file-input" id="customFile" />
                            <label class="custom-file-label" for="customFile">Choose File</label>
                        </div>
                        <span asp-validation-for="@Model.Expense.CheckDocument" class="text-danger"></span>
                    </div>
                    <label asp-for="@Model.Expense.ExpenseTypeID" class="control-label">Harcama Türü</label>
                    <select asp-for="@Model.Expense.ExpenseTypeID" class="form-control" asp-items="ViewBag.ExpenseTypeID"></select>
                    <span asp-validation-for="@Model.Expense.ExpenseTypeID" class="text-danger"></span>
                    <br />
                    <label>
                        Tutar
                    </label>
                    <input type="text" name="Amount" class="form-control" />
                    <br />
                    <label>
                        Açıklama
                    </label>
                    <textarea asp-for="@Model.Expense.Explanation" class="form-control" style="width:100%; height:150px;"></textarea>
                    <br />
                    <label>
                        Harcama Tarihi
                    </label>
                    <input type="date" name="DateOfExpense" class="form-control" />
                    <br />
                    <button class="btn btn-info">Kaydet</button>


                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(document).ready( function () {
    $('#myTable').DataTable({
         "language": {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
    }
    });
    });
</script>
<script type="text/javascript">
    $("custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
}
