@model IEnumerable<InsanKaynaklari.Entities.Concrete.Expense>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            
            <a class="btn btn-info " href="~/Expenses/Create/@Context.Session.GetString("userId")">Harcama Ekle</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Açıklama</th>
                            <th>Harcama Türü</th>
                            <th>Tutar</th>
                            <th>Fiş Tarihi</th>
                            <th>Onay Durumu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Explanation</th>
                                <th>@item.ExpenseType</th>
                                <th>@item.Amount</th>
                                <th>@item.DateOfExpense</th>
                                <th>@item.ConfirmStatus</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts{
<script type="text/javascript">
    $(document).ready( function () {
    $('#myTable').DataTable({
         "language": {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
    }
    });
    });
</script>
}